.projects {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding: 30px;
    width: 90%;
    // justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
        // margin-top: 50px;
        // height: 50px;
        width: 100%;
    }
    &__head {
        margin: 0;
        text-align: center;
        color: #707070;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }
    &__box {
        width: 80%;
    }
}
